@import url("https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans:wght@100&display=swap");

:root {
  --bg-size: 100% 100%;
  --main-color: #fff;
  --title: "Josefin Sans", sans-serif;
  --font-para: "David Libre", serif;
  --btn-color: #fff;
  --btn-font-color: black;
  --btn-font: 1.5rem;
  /*--eff: 0.3s all ease;*/
}

* {
  font-family: var(--font-para);
}

html {
  font-size: 62.5%;
}

.row-margin-05 {
  margin-top: 1em;
}
p,
label,
input::placeholder {
  font-size: 1.5rem;
  line-height: 170%;
  color: #27292b;
}

/* figure img,
.fab {
  transition: var(--eff);
} */

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.navLink {
  font-size: 3rem;
  padding-left: 550px;
}
.navLink a {
  font-family: var(--title);
  color: var(--main-color);
  padding-right: 10px;
}
.navLink_contact {
  font-size: 3rem;
  padding-left: 900px;
}
.navLink_contact a {
  font-family: var(--title);
  color: var(--main-color);
  padding-right: 10px;
}
body {
  background: hsl(300, 69%, 61%);
}

.main_header_inner {
  height: calc(100vh - 40vh);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0)
    ),
    url(pexels-pixabay-267507.jpg);
  background-size: var(--bg-size);
}

.main_heading {
  font-size: 3rem;
}

.main_header_inner h3 {
  font-size: 6.5rem;
  font-weight: bold;
  font-family: var(--title);
  color: var(--main-color);
  padding-bottom: 2rem;
  position: relative;
  transition: var(--eff);
}

.blog_div h1 {
  font-family: var(--title);
  font-weight: bold;
  font-size: 3rem;
}

.blog_div .blog_title {
  font-weight: 400;
  font-size: 2.2rem;
  color: #1b262c;
}

.blog_div p span {
  color: #1b262c;
}

.left_div_button {
  margin-top: 3rem;
}
.blog_div .like {
  color: var(--btn-font-color);
  border-width: 0.2rem;
  font-size: var(--btn-font);
  padding: 0.5rem 2rem;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  font-family: var(--title);
  font-weight: 800;
}

.blog_div .comment {
  color: var(--btn-font-color);
  border-width: 0.2rem;
  font-size: var(--btn-font);
  padding: 0.5rem 2rem;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  font-family: var(--title);
  font-weight: 800;
}

.comments {
  margin: 2rem 0;
  padding: 1rem 0;
  display: none;
}

.show {
  margin: 20px 0;
  display: block;
}

.right_tag_title {
  background: #d0cecf;
  color: #000;
}

.right_tag_title h2 {
  font-size: 2.5rem;
  padding-left: 2rem;
}

.right_sub_div {
  background: #fff;
}

/* .right_sub_div .row {
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.right_sub_div .row:last-child {
  margin-bottom: 0;
} */
.right_sub_div {
  padding: 2.5rem 2.5rem;
}
.right_sub_div_subscribe {
  background: #fff;
  padding: 2.5rem 2.5rem;
  width: 345px;
}
.right_tag_main {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-columns: repeat(auto-fill, minmax(4rem, 8rem)); */
  grid-gap: 1rem;
  padding: 3.5rem 4.1rem;
}

.right_tag_main a {
  font-size: 1.7rem;
  line-height: 170%;
  font-weight: lighter;
  /* background: inherit; */
  background: #1b262c;
  color: #fff;
}

.right_subscribe_title {
  background: #d0cecf;
  color: #000;
}
.right_subscribe_title h2 {
  font-size: 2.5rem;
  padding-left: 2rem;
}
.right_sub_div #subscribeFormControl {
  padding: 1.5rem 1rem;
  margin: 1.5rem 0;
}
.subscribe_button {
  padding-left: 0;
  padding-top: 5px;
}
.right_div .subs_btn {
  color: var(--btn-font-color);
  border-width: 0.2rem;
  font-size: var(--btn-font);
  padding: 0.5rem 2rem;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  font-family: var(--title);
  font-weight: 800;
}
