@import url("https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans:wght@100&display=swap");

:root {
  --bg-size: 100% 100%;
  --main-color: #fff;
  --title: "Josefin Sans", sans-serif;
  --font-para: "David Libre", serif;
  --btn-color: #fff;
  --btn-font-color: black;
  --btn-font: 1.5rem;
  /*--eff: 0.3s all ease;*/
}

* {
  font-family: var(--font-para);
}

html {
  font-size: 62.5%;
}

p,
label,
input::placeholder {
  font-size: 1.5rem;
  line-height: 170%;
  color: #27292b;
}

/* figure img,
.fab {
  transition: var(--eff);
} */

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  background: hsl(300, 69%, 61%);
}

.main_header_inner {
  height: calc(100vh - 40vh);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0)
    ),
    url("https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: var(--bg-size);
}

.main_heading {
  font-size: 3rem;
}

.main_header_inner h3 {
  font-size: 6.5rem;
  font-weight: bold;
  font-family: var(--title);
  color: var(--main-color);
  padding-bottom: 2rem;
  position: relative;
  transition: var(--eff);
}

.blog_div h1 {
  font-family: var(--title);
  font-weight: bold;
  font-size: 3rem;
}

.blog_div .blog_title span {
  font-weight: 400;
  font-size: 2.2rem;
  color: #1b262c;
}

.blog_div p span {
  color: #1b262c;
}

.left_div_button {
  margin-top: 3rem;
}
.blog_div .like {
  color: var(--btn-font-color);
  font-size: var(--btn-font);
  padding: 0.5rem 2rem;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  font-family: var(--title);
  font-weight: 800;
}

.blog_div .comment {
  color: var(--btn-font-color);
  font-size: var(--btn-font);
  padding: 0.5rem 2rem;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  font-family: var(--title);
  font-weight: 800;
}

.comments {
  margin: 2rem 0;
  padding: 1rem 0;
  display: none;
}

.show {
  margin: 20px 0;
  display: block;
}
